# Ignorar outros ambientes virtuais comuns
.env
.venv
env/
venv/
myvenv/
Ola_Django/static_files

# Calculadora
aulas/GUI/aula255calculadora/Calculadora.spec
aulas/GUI/aula255calculadora/build
aulas/GUI/aula255calculadora/dist

# sulite
db.sqlite3

# docker
mysql_259
aula259Docker.py

# pycache
__pycache__



