# Ignorar outros ambientes virtuais comuns
.env
.venv
env/
venv/
myvenv/

# Calculadora
aulas/GUI/aula255calculadora/Calculadora.spec
aulas/GUI/aula255calculadora/build
aulas/GUI/aula255calculadora/dist

# sqlite
db.sqlite3

# docker
mysql_259
aula259Docker.py

# pycache
__pycache__

# static_files
/aulas/Ola_Django/static_files

# django
django_info.py



