# Ignorar outros ambientes virtuais comuns
.env
.venv
env/
venv/
myvenv/

# Calculadora
/Aulas/4_Aulas_de_GUI_em_python/aula255calculadora/Calculadora.spec
/Aulas/4_Aulas_de_GUI_em_python/aula255calculadora/build
/Aulas/4_Aulas_de_GUI_em_python/aula255calculadora/dist

# sqlite
db.sqlite3

# Docker
mysql_259
aula259Docker.py

# pycache
__pycache__

# static_files
/Aulas/6_Aulas_basicas_de_Ola_Django_em_python/static_files

# Django
django_info.py

# info_aula232site
info_aula232site.py

